<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_sig}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />

{$usercpnav}
<div class="col-md-9">
{$error}
{$signature}
<div>

<div class="tcat">{$lang->edit_sig}</div>


<div class="trow1 p-3">
<div class="mb-3">
<textarea id="signature" name="signature" class="form-control">{$sig}</textarea>
{$codebuttons}
</div>

<div class="mb-3">
<label class="formbit_label"><span data-lang-variable="usercp_sig_options"></span></label>
<div><label><input type="radio" class="form-check-input" name="updateposts" value="enable" />&nbsp;{$lang->enable_sig_posts}</label><br />
<label><input type="radio" class="form-check-input" name="updateposts" value="disable" />&nbsp;{$lang->disable_sig_posts}</label><br />
<label><input type="radio" class="form-check-input" name="updateposts" value="0" checked="checked" />&nbsp;{$lang->leave_sig_settings}</label></div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->edit_sig_note}</label>
<div class="small text-muted">{$lang->edit_sig_note2}</div>
</div>
</div> 
 
  
</div>
<br />
<div class="align_center">
<input type="hidden" name="action" value="do_editsig" />
<input type="submit" class="button" name="submit" value="{$lang->update_sig}" />
<input type="submit" class="button" name="preview" value="{$lang->preview}" />
</div>
</div>
</div>
</form>
{$footer}
</body>
</html>