	<br />
	<div>
		
			
				<div class="thead">
{$lang->latest_warnings}          
		<span class="float_right smalltext">{$lang->current_warning_level}</span>
				</div>
			
			
<div class="tcat rowbit">

<span class="warningbit_warning threadbit_main" data-width="25%">
{$lang->warning}
</span>
  


<span class="warningbit_issued threadbit_stats" data-width="25%">
{$lang->date_issued}
</span>
  
<span class="warningbit_expires threadbit_stats" data-width="25%">
{$lang->expiry_date}
</span>
  
<span class="warningbit_issued_by threadbit_stats" data-width="25%">
{$lang->issued_by}
</span>
  

  
</div>

{$warnings}

	</div>