<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->subscriptions}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_subscriptions" />


{$usercpnav}
<div class="col-md-9">
{$multipage}
<div>
	
		<div class="thead">{$lang->subscriptions}  - {$threadcount}</div>
	
		<div class="tcat d-none d-md-flex align-items-center gap-3 px-3 py-2 border-bottom">
	<div style="width:28px;flex-shrink:0"></div>
	<div class="flex-grow-1 min-w-0">
		{$lang->thread}
	</div>
	<div class="d-flex gap-3 align-items-center" style="flex-shrink:0">
		<div class="text-center" style="min-width:60px">{$lang->replies}</div>
		<div class="text-center" style="min-width:60px">{$lang->views}</div>
	</div>
	<div class="text-end" style="width:160px;flex-shrink:0"><span data-moderation="1">{$lang->lastpost}</span></div>
	<div class="d-flex align-items-center justify-content-center ps-2" style="width:36px;flex-shrink:0"><input name="allbox" title="{$lang->ms_select_all}" type="checkbox" class="form-check-input checkall" value="1" /></div>
</div>

  
  {$threads}
  {$remove_options}
  
  </div>
  
<br />

  


<div class="float_left">
	<div class="float_left">
		<ul class="thread_legend smalltext">
			<li><span class="thread_status newfolder" title="{$lang->new_thread}"><span></span></span> {$lang->new_thread}</li>
			<li><span class="thread_status newhotfolder" title="{$lang->new_hot_thread}"><span></span></span> {$lang->new_hot_thread}</li>
			<li><span class="thread_status hotfolder" title="{$lang->hot_thread}"><span></span></span> {$lang->hot_thread}</li>
		</ul>
	</div>

	<div class="float_left">
		<ul class="thread_legend smalltext">
			<li><span class="thread_status folder" title="{$lang->no_new_thread}"><span></span></span> {$lang->no_new_thread}</li>
			<li><span class="thread_status dot_folder" title="{$lang->posts_by_you}"><span></span></span> {$lang->posts_by_you}</li>
			<li><span class="thread_status closefolder" title="{$lang->closed_thread}"></span> {$lang->closed_thread}</li>
		</ul>
	</div>
	<br style="clear: both" />
</div>
  
  
  
{$multipage}
  
  


</div>
</div>
</form>
{$footer}
</body>
</html>