<fieldset><legend>{$lang->custom_usertitle}</legend>
<div class="mb-3">
<label class="formbit_label">{$lang->default_usertitle}</label>
<div class="formbit_field">{$defaulttitle}</div>
</div>

{$currentcustom}

<div class="mb-3">
<label class="formbit_label">{$lang->new_custom_usertitle}</label>
<div class="formbit_field"><input type="text" class="form-control form-control-sm" name="usertitle" maxlength="{$mybb->settings['customtitlemaxlength']}" value="{$newtitle}" /></div>
</div>

{$reverttitle}</fieldset>