<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->change_username}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />


{$usercpnav}
<div class="col-md-9">
{$errors}
<div>

<div class="tcat">{$lang->change_username}</div>

<div class="trow1 p-3">
<div class="mb-3">
<label class="formbit_label">{$lang->current_password}</label>
<input type="password" class="form-control form-control-sm" name="password" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->new_username}</label>
<input type="text" class="form-control form-control-sm" name="username" maxlength="{$mybb->settings['maxnamelength']}" value="{$username}" />
</div>
</div>


</div>
<br />
<div class="align_center">
<input type="hidden" name="action" value="do_changename" />
<input type="submit" class="button" name="submit" value="{$lang->update_username}" />
</div>
  </div>
</div>
</form>
{$footer}
</body>
</html>