<details class="ms-sidebar-details"{$ms_sb_modcp_open}>
	<summary class="ms-sidebar-link{$ms_sb_modcp_active}"><a href="{$ms_sb_modcp_url}"><i class="bi bi-shield-check"></i><span>{$lang->ms_sidebar_modcp}</span></a><i class="bi bi-chevron-down ms-sidebar-chevron"></i></summary>
	<div class="ms-sidebar-sub">
		<a class="ms-sidebar-sublink{$ms_sb_modcp_home_active}" href="{$ms_sb_modcp_url}">{$lang->ms_sidebar_modcp_home}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_queue_active}" href="{$ms_sb_modcp_url}?action=modqueue">{$lang->ms_sidebar_mod_queue}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_reports_active}" href="{$ms_sb_modcp_url}?action=reports">{$lang->ms_sidebar_report_center}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_logs_active}" href="{$ms_sb_modcp_url}?action=modlogs">{$lang->ms_sidebar_mod_logs}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_announce_active}" href="{$ms_sb_modcp_url}?action=announcements">{$lang->ms_sidebar_announcements}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_finduser_active}" href="{$ms_sb_modcp_url}?action=finduser">{$lang->ms_sidebar_modcp_edit_profile}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_banning_active}" href="{$ms_sb_modcp_url}?action=banning">{$lang->ms_sidebar_banning}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_warnings_active}" href="{$ms_sb_modcp_url}?action=warninglogs">{$lang->ms_sidebar_warning_logs}</a>
		<a class="ms-sidebar-sublink{$ms_sb_modcp_ipsearch_active}" href="{$ms_sb_modcp_url}?action=ipsearch">{$lang->ms_sidebar_ip_search}</a>
	</div>
</details>