<html>
<head>
<title>{$mybb->settings['bbname']} - Portal</title>
{$headerinclude}
</head>
<body>
{$header}

<div class="ms-page-shell">
	<aside class="ms-page-sidebar offcanvas-lg offcanvas-start" tabindex="-1" id="msSidebarOffcanvas">
		<div class="offcanvas-header d-lg-none">
			<h6 class="offcanvas-title">{$lang->ms_sidebar_menu}</h6>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#msSidebarOffcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			{$pex_sidebar}
		</div>
	</aside>

	<main class="ms-page-content">
		<div class="pex-main-header">
			
		</div>

		<div class="pex-feed-list" id="pex_feed_list">
			{$pex_feed_items}
		</div>
		{$pex_pagination}
	</main>
</div>

<script>
var PEX_CONFIG = {
	bburl: '{$mybb->settings['bburl']}',
	postKey: '{$pex_post_key}'
};
var quickdelete_confirm = "{$lang->quickdelete_confirm}";
var quickrestore_confirm = "{$lang->quickrestore_confirm}";
var allowEditReason = "{$mybb->settings['alloweditreason']}";
var thread_deleted = "0";
var visible_replies = "0";
lang.save_changes = "{$lang->save_changes}";
lang.cancel_edit = "{$lang->cancel_edit}";
lang.quick_edit_update_error = "{$lang->quick_edit_update_error}";
lang.quick_delete_error = "{$lang->quick_delete_error}";
lang.quick_delete_success = "{$lang->quick_delete_success}";
lang.quick_restore_error = "{$lang->quick_restore_error}";
lang.quick_restore_success = "{$lang->quick_restore_success}";
lang.editreason = "{$lang->postbit_editreason}";
</script>
<script src="{$mybb->asset_url}/jscripts/report.js?ver=1839"></script>
<script src="{$mybb->asset_url}/jscripts/jeditable/jeditable.min.js"></script>
<script src="{$mybb->asset_url}/jscripts/thread.js?ver=1839"></script>

{$footer}
</body>
</html>