<html>
<head>
<title>{$mybb->settings['bbname']} - Portal</title>
{$headerinclude}
</head>
<body>
{$header}

<div class="ms-page-shell">
	<aside class="ms-page-sidebar offcanvas-lg offcanvas-start" tabindex="-1" id="msSidebarOffcanvas">
		<div class="offcanvas-header d-lg-none">
			<h6 class="offcanvas-title">Menu</h6>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#msSidebarOffcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			{$pex_sidebar}
		</div>
	</aside>

	<main class="ms-page-content">
		<div class="pex-main-header">
			
		</div>

		<div class="pex-feed-list" id="pex_feed_list">
			{$pex_feed_items}
		</div>
		{$pex_pagination}
	</main>
</div>

<script>
var PEX_CONFIG = {
	bburl: '{$mybb->settings['bburl']}',
	postKey: '{$pex_post_key}'
};
</script>

{$footer}
</body>
</html>