<div id="quickreply_spinner" class="showthread_spinner" style="display: none"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>
<br />
{$moderation_notice}
<form method="post" action="newreply.php?tid={$tid}&amp;processed=1" name="quick_reply_form" id="quick_reply_form">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="subject" value="{$lang->ms_reply_prefix} {$reply_subject}" />
	<input type="hidden" name="action" value="do_newreply" />
	<input type="hidden" name="posthash" value="{$posthash}" id="posthash" />
	<input type="hidden" name="quoted_ids" value="" id="quoted_ids" />
	<input type="hidden" name="lastpid" id="lastpid" value="{$last_pid}" />
	<input type="hidden" name="from_page" value="{$page}" />
	<input type="hidden" name="tid" value="{$tid}" />
	<input type="hidden" name="method" value="quickreply" />

	<div class="tborder">
		<div class="thead">
					<strong>{$lang->quick_reply}</strong>
		</div>
		<div id="quickreply_e">
			<div class="trow1">
				<div class="mb-2">
					<div class="editor_control_bar" style="padding: 4px; margin-top: 3px; display: none;" id="quickreply_multiquote">
					<span class="smalltext">
						{$lang->quickreply_multiquote_selected} <a href="./newreply.php?tid={$tid}&amp;load_all_quotes=1" onclick="return Thread.loadMultiQuoted();">{$lang->quickreply_multiquote_now}</a> {$lang->or} <a href="javascript:void(0)" onclick="Thread.clearMultiQuoted(); return false;">{$lang->quickreply_multiquote_deselect}</a>.
					</span>
				</div>
					<textarea name="message" id="message" tabindex="1"></textarea>{$codebuttons}
					<script type="text/javascript">
					$(function() {
						$('#quick_reply_form').on('reset', function() {
							MyBBEditor.val('');
						});
					});
					</script>
				</div>
				<div class="small text-muted mb-2">
					{$option_signature}
					<label><input type="checkbox" class="checkbox" name="postoptions[disablesmilies]" value="1" />&nbsp;{$lang->disable_smilies}</label>{$closeoption}
				</div>
			</div>
			{$captcha}
		<div class="tfoot text-center"><input type="submit" class="button" value="{$lang->post_reply}" tabindex="2" accesskey="s" id="quick_reply_submit" /> <input type="submit" class="button" name="previewpost" value="{$lang->preview_post}" tabindex="3" /></div>
			</div></div>
</form>