<br />
<form method="post" action="managegroup.php">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_add" />
<input type="hidden" name="gid" value="{$gid}" />
<div class="tborder">

<div class="thead">{$lang->add_member}</div>



<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->username}</div>
<div class="formbit_field" data-width="80%"><input type="text" id="username" class="textbox" name="username" maxlength="{$mybb->settings['maxnamelength']}" style="width: 210px" /></div>
</div>

 
</div>

<script src="{$mybb->asset_url}/themes/mystudio-default/js/user-autocomplete.js"></script>
<script>if(use_xmlhttprequest=="1"){UserAutoComplete('username');}</script>
<br />
<div class="align_center"><input type="submit" class="button" value="{$lang->add_member_submit}" /></div>
</form>