<br />
<form method="post" action="managegroup.php">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_invite" />
<input type="hidden" name="gid" value="{$gid}" />
<div class="tborder">

<div class="thead">{$lang->invite_member}</div>


<div class="trow1">{$lang->username}</div>
  <div class="trow1"><input type="text" id="inviteusername" class="textbox" name="inviteusername" maxlength="{$mybb->settings['maxnamelength']}" style="width: 210px" /></div>

</div>

<script src="{$mybb->asset_url}/themes/mystudio-default/js/user-autocomplete.js"></script>
<script>if(use_xmlhttprequest=="1"){UserAutoComplete('inviteusername');}</script>
<br />
<div><input type="submit" class="button" value="{$lang->invite_member_submit}" /></div>
</form>