	<div class="tborder">
		
			
				<div class="thead">
					<div>{$lang->existing_post_warnings}</div>
				</div>
			
			
				<div class="tcat"><span class="smalltext">{$lang->warning}</span></div>
				<div class="tcat"><span class="smalltext">{$lang->date_issued}</span></div>
				<div class="tcat"><span class="smalltext">{$lang->expiry_date}</span></div>
				<div class="tcat"><span class="smalltext">{$lang->issued_by}</span></div>
				<div class="tcat"><span class="smalltext">{$lang->details}</span></div>
			
		
		<div class="body">
		{$warnings}
		</div>
	</div><br />