</main>

<footer id="footer" class="mt-4">


<div id="copyright">
<div class="container">
	<div class="d-flex justify-content-between align-items-center flex-wrap py-3 small">
		<div>
			<span>{$lang->ms_footer_powered_by} <a href="https://mybb.com" target="_blank" rel="noopener">MyBB. Developed with ❤️ by <a href="https://tektove.com" target="_blank" rel="noopener">Tektove</a></span>
		</div>
		<div class="d-flex align-items-center gap-3">
			{$theme_select}
			{$lang_select}
			<span id="current_time">{$lang->welcome_current_time}</span>
		</div>
	</div>
	{$ms_footer_text_row}
	{$debugstuff}
</div>
</div>
</footer>

<script src="{$mybb->asset_url}/jscripts/main.js?"></script>