<html>
<head>
<title>{$threadprefix['prefix']} {$thread['subject']} - {$lang->send_thread}</title>
{$headerinclude}
</head>
<body>
{$header}
{$errors}
<form action="sendthread.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="tborder">

<div class="thead">{$lang->send_thread}</div>

{$from_email}

<div class="trow1">{$lang->recipient}<br /><span class="smalltext">{$lang->recipient_note}</span></div>
<div class="trow1"><input type="text" class="textbox" size="50" name="email" value="{$email}" /></div>


<div class="trow2">{$lang->subject}</div>
<div class="trow2"><input type="text" class="textbox" size="50" name="subject" value="{$subject}" /></div>


<div class="trow1">{$lang->message}</div>
<div class="trow1"><textarea name="message">{$message}</textarea></div>

{$captcha}
</div>
<br />
<input type="hidden" name="action" value="do_sendtofriend" />
<input type="hidden" name="tid" value="{$tid}" />
<div><input type="submit" class="button" name="submit" value="{$lang->send_thread}" /></div>
</form>
{$footer}
</body>
</html>