<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->delete_thread}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="tborder">

<div class="thead">{$thread['subject']} - {$lang->delete_thread}</div>


<div class="trow1">{$lang->confirm_delete_threads}</div>

{$loginbox}
</div>
<br />
<div class="align_center"><input type="submit" class="button" name="submit" value="{$lang->delete_thread}" /></div>
<input type="hidden" name="action" value="do_deletethread" />
<input type="hidden" name="tid" value="{$tid}" />
</form>
{$footer}
</body>
</html>