<div class="trow1 rowbit">

<div class="delayedmodbit_modactions" data-width="20%">{$delayedmod['action']} <a href="#" data-link-role="toggle_content"></a></div>

<div class="delayedmodbit_username" data-width="20%" data-lang="{$lang->mod_username}">{$delayedmod['profilelink']}</div>

<div class="delayedmodbit_days" data-width="20%" data-lang="{$lang->days_to_perform_action}">{$delayedmod['dateline']}</div>

<div class="delayedmodbit_actions" data-width="20%" data-lang="{$lang->actions}"><a href="moderation.php?action=cancel_delayedmoderation&amp;tid={$tid}&amp;fid={$fid}&amp;did={$delayedmod['did']}&amp;my_post_key={$mybb->post_code}">{$lang->cancel}</a></div>

<div class="delayedmodbit_info infobit" data-width="20%" data-lang="{$lang->mod_information}">{$info}</div>


</div>