<div class="trow1 rowbit">

<div class="delayedmod_action" data-width="25%">{$delayedmod['action']} <a href="#" data-link-role="toggle_content"></a></div>

<div class="delayedmod_username" data-width="25%" data-lang="{$lang->mod_username}">{$delayedmod['profilelink']}</div>

<div class="delayedmod_date" data-width="25%" data-lang="{$lang->days_to_perform_action}">{$delayedmod['dateline']}</div>
  
<div class="delayedmod_info infobit" data-width="25%" data-lang="{$lang->mod_information}">{$info}</div>
  
  </div>