<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->mod_options}</div>
<div class="formbit_field" data-width="80%"><a href="modcp.php?action=ipsearch&amp;ipaddress={$ipaddress}&amp;search_users=1">{$lang->search_ip_users}</a><br />
	<a href="modcp.php?action=ipsearch&amp;ipaddress={$ipaddress}&amp;search_posts=1">{$lang->search_ip_posts}</a><br />
	<a href="modcp.php?action=iplookup&ipaddress={$ipaddress}" onclick="MyBB.popupWindow('/modcp.php?action=iplookup&ipaddress={$ipaddress}&amp;modal=1'); return false;">{$lang->info_on_ip}</a></div>
</div>