<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->merge_threads}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="tborder">

<div class="thead">{$lang->merge_threads}</div>

{$loginbox}
  
  
<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->new_subject}</div>
<div class="formbit_field" data-width="80%"><input type="text" class="textbox" name="subject" value="{$thread['subject']}" size="40" /></div>
</div>
  
<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->thread_to_merge_with}</div>
<div class="formbit_field" data-width="80%"><input type="text" class="textbox" name="threadurl" size="40" /><br /><span class="smalltext">{$lang->merge_with_note}</span></div>
</div>

</div>
<br />
<div class="align_center"><input type="submit" class="button" name="submit" value="{$lang->merge_threads}" /></div>
<input type="hidden" name="action" value="do_merge" />
<input type="hidden" name="tid" value="{$tid}" />
</form>
{$footer}
</body>
</html>