<div class="input-group mb-3">
	<span class="input-group-text"><i class="bi bi-key-fill"></i></span>
	<input type="password" class="form-control" name="password" id="password" placeholder="{$lang->fmz_placeholder_enter_password}" autocomplete="new-password" />
</div>
<div class="input-group mb-3">
	<span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
	<input type="password" class="form-control" name="password2" id="password2" placeholder="{$lang->fmz_placeholder_confirm_password}" autocomplete="new-password" />
</div>
<div id="password_status"></div>