<html>
<head>
<title>{$lang->compose_pm}</title>
{$headerinclude}
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/usercp.js?ver=1827"></script>
</head>
<body>
{$header}
<form action="private.php" method="post" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />

{$usercpnav}
<div class="col-md-9">
{$preview}
{$send_errors}
<div class="tborder">

<div class="thead">{$lang->compose_pm}</div>

<div class="trow1 rowbit">
<div class="formbit_label strong col-md-2">{$lang->compose_to} <script>
	<!--
		document.write('(<a href="javascript:void(0)" onclick="showBcc(); return false;" title="{$lang->compose_bcc_show_title}">{$lang->compose_bcc_show}<\/a>)');
	// -->
</script>{$buddy_select_to}</div>
<div class="formbit_field col-md-10">

<textarea name="to" id="to" class="textarea" rows="2" cols="38" tabindex="1" style="width: 450px;">{$to}</textarea>
  
{$max_recipients}</div>
</div>


<div class="trow1 rowbit" id="bcc_area">
<div class="formbit_label strong col-md-2">{$lang->compose_bcc}{$buddy_select_bcc}</div>
<div class="formbit_field col-md-10"><textarea name="bcc" id="bcc" rows="2" cols="38" tabindex="1" style="width: 450px;">{$bcc}</textarea></div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label strong col-md-2">{$lang->compose_subject}</div>
<div class="formbit_field col-md-10"><input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{$subject}" tabindex="3" /></div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label strong col-md-2">{$lang->compose_message}</div>
<div class="formbit_field col-md-10"><textarea name="message" id="message" tabindex="4">{$message}</textarea>
{$codebuttons}</div>
</div>


<div class="trow1 rowbit">
<div class="formbit_label strong col-md-2">{$lang->compose_options}</div>
<div class="formbit_field col-md-10"><label><input type="checkbox" class="checkbox" name="options[signature]" value="1" tabindex="5" {$optionschecked['signature']} />{$lang->options_sig}</label><br />
<label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1" tabindex="6" {$optionschecked['disablesmilies']} />{$lang->options_disable_smilies}</label><br />
<label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1" tabindex="7" {$optionschecked['savecopy']} />{$lang->options_save_copy}</label><br />
{$private_send_tracking}</div>
</div>


</div>
<br />
<input type="hidden" name="action" value="do_send" />
<input type="hidden" name="pmid" value="{$pmid}" />
<input type="hidden" name="do" value="{$do}" />
<div class="align_center">
<input type="submit" class="button" name="submit" value="{$lang->send_message}" tabindex="9" accesskey="s" />
<input type="submit" class="button" name="saveasdraft" value="{$lang->save_draft}" tabindex="10" />
<input type="submit" class="button" name="preview" value="{$lang->preview}" tabindex="11" />
</div>
</div>
</div>
</form>
{$footer}
<script>
<!--
	if($("#bcc_area").length > 0 && $("#bcc").val() == "")
	{
		$("#bcc_area").css("display", "none");
	}

	function showBcc()
	{
		if($("#bcc_area").css("display") == 'none')
		{
			$("#bcc_area").css("display", "");
		}
		else
		{
			$("#bcc_area").css("display", "none");
		}
	}
// -->
</script>
{$autocompletejs}
</body>
</html>