<div class="trow1 rowbit">
  
<div class="threadbit_main pmbit_main" data-width="50%">
<div class="threadbit_folder pmbit_folder"><span class="private_message_status pmstatus_1" title="{$msgalt}"></span></div>  

  
<div class="threadbit_title pmbit_title">

{$readmessage['subject']}</div>


  
</div>  

<div class="threadbit_stats pmbit_author threadbit_author align_center" data-lang="{$lang->sentto}" data-width="25%">
>>{$readmessage['profilelink']} 
</div>
  

<div class="threadbit_lastpost pmbit_date" data-width="25%">

<span data-moderation="1">{$readdate}</span>

</div>
<span class="d-none d-md-inline-flex align-items-center threadbit_modbit ms-auto ps-2"><input type="checkbox" class="form-check-input" name="readcheck[{$readmessage['pmid']}]" value="1" /></span>

</div>