<div class="tborder">
  <div class="thead">{$event['name']} - {$time_period}</div>
 
		<div class="trow1{$event_class}">
		
				<span class="largetext">{$event['profilelink']}</span><br />
				<span class="smalltext">
					{$event['usertitle']}<br />
					{$event['userstars']}
				</span>
			</div>
		

		<div class="trow2 scaleimages{$event_class}">
			<p>{$event['description']}</p>
		
           {$edit_event} {$repeats}

        	{$moderator_options}
  </div>		
          
          
</div>
<br />