<div class="tcat">{$lang->myalerts_usercp_nav}
  <div class="expcolimage" data-controls="usercpprofile"></div>
</div>
<div class="trow1 cp_menu" style="{$collapsed['usercpprofile_e']}" id="usercpprofile_e">
<ul class="list_style">
	<li><a href="{$mybb->settings['bburl']}/alerts.php" class="usercp_nav_item usercp_nav_myalerts">{$lang->myalerts_usercp_nav_alerts}</a></li>
	<li><a href="{$mybb->settings['bburl']}/alerts.php?action=settings" class="usercp_nav_item usercp_nav_options">{$lang->myalerts_usercp_nav_settings}</a></li>
	<li><a href="{$mybb->settings['bburl']}/alerts.php?action=delete_read&amp;my_post_key={$mybb->post_code}" onclick="return confirm('{$lang->myalerts_delete_read_confirm}')" class="usercp_nav_item usercp_nav_myalerts_delete_read">{$lang->myalerts_usercp_nav_delete_read}</a></li>
	<li><a href="{$mybb->settings['bburl']}/alerts.php?action=delete_all&amp;my_post_key={$mybb->post_code}" onclick="return confirm('{$lang->myalerts_delete_all_confirm}')" class="usercp_nav_item usercp_nav_myalerts_delete_all">{$lang->myalerts_usercp_nav_delete_all}</a></li>
</ul>
</div>