<div class="pex-reply" data-pid="{$ms_pex_pid}">
    <div class="pex-reply-author">
        <a href="{$ms_pex_reply_profile_url}"><img src="{$ms_pex_reply_avatar}" onerror="if(this.src!='images/default_avatar.png')this.src='images/default_avatar.png';" alt="{$ms_pex_reply_username}" class="pex-reply-avatar-img" /></a>
        <div class="pex-reply-author-info">
            <a href="{$ms_pex_reply_profile_url}" class="pex-reply-username">{$ms_pex_reply_formatted}</a>
            <span class="pex-reply-time">{$ms_pex_reply_time}</span>
        </div>
        <span class="ms-auto d-flex gap-2">{$ms_pex_reply_delete_btn}</span>
    </div>
    <div class="pex-reply-message">{$ms_pex_reply_message}</div>
</div>