<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_announcement}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<form action="modcp.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="do_edit_announcement" />
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="fid" value="{$announcement['fid']}" />
	<input type="hidden" name="aid" value="{$aid}" />
		<div>
			
				{$modcp_nav}
				<div class="col-md-9">
					{$errors}
					{$preview}
					<div>
						
							<div class="tcat">{$lang->edit_announcement}</div>
						
<div class="trow1 p-3">

<div class="mb-3">
<label class="formbit_label">{$lang->title}</label>
<input type="text" class="form-control form-control-sm" name="title" value="{$title}" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->start_date}</label>
<div><select name="starttime_day" class="form-select form-select-sm d-inline-block" style="width:auto">{$startdateday}</select>
<select name="starttime_month" class="form-select form-select-sm d-inline-block" style="width:auto">{$startdatemonth}</select>
<input type="text" name="starttime_year" value="{$startdateyear}" size="4" maxlength="4" class="form-control form-control-sm d-inline-block" style="width:80px" />
 - {$lang->time} <input type="text" name="starttime_time" value="{$starttime_time}" size="10" class="form-control form-control-sm d-inline-block" style="width:120px" /></div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->end_date}</label>
<div><label><input type="radio" name="endtime_type" value="1"{$end_type_sel['finite']} class="form-check-input" /></label>
<select name="endtime_day" class="form-select form-select-sm d-inline-block" style="width:auto">{$enddateday}</select>
<select name="endtime_month" class="form-select form-select-sm d-inline-block" style="width:auto">{$enddatemonth}</select>
<input type="text" name="endtime_year" value="{$enddateyear}" size="4" maxlength="4" class="form-control form-control-sm d-inline-block" style="width:80px" />
 - {$lang->time} <input type="text" name="endtime_time" value="{$endtime_time}" size="10" class="form-control form-control-sm d-inline-block" style="width:120px" />
<label class="ms-2"><input type="radio" name="endtime_type" value="2"{$end_type_sel['infinite']} class="form-check-input" /> {$lang->never}</label></div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->announcement} {$smilieinserter}</label>
<textarea id="message" name="message" class="form-control">{$message}</textarea>
{$codebuttons}
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->allow_html}</label>
<div><label><input type="radio" name="allowhtml" value="1"{$html_sel['yes']} class="form-check-input" />&nbsp;{$lang->yes}</label> &nbsp;&nbsp;<label><input type="radio" name="allowhtml" value="0"{$html_sel['no']} class="form-check-input" />&nbsp;{$lang->no}</label></div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->allow_mycode}</label>
<div><label><input type="radio" name="allowmycode" value="1"{$mycode_sel['yes']} class="form-check-input" />&nbsp;{$lang->yes}</label> &nbsp;&nbsp;<label><input type="radio" name="allowmycode" value="0"{$mycode_sel['no']} class="form-check-input" />&nbsp;{$lang->no}</label></div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->allow_smilies}</label>
<div><label><input type="radio" name="allowsmilies" value="1"{$smilies_sel['yes']} class="form-check-input" />&nbsp;{$lang->yes}</label> &nbsp;&nbsp;<label><input type="radio" name="allowsmilies" value="0"{$smilies_sel['no']} class="form-check-input" />&nbsp;{$lang->no}</label></div>
</div>

</div>
					<br />
					<div class="align_center">
						<input type="submit" class="button" value="{$lang->edit_announcement}" />&nbsp;&nbsp;
						<input type="submit" class="button" name="preview" value="{$lang->preview}" />
					</div>
				</div>
			
		</div>
	</form>
	{$footer}
</body>
</html>