<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->ban_user}</title>
{$headerinclude}

</head>
<body>
	{$header}
	<div>
		
			{$modcp_nav}
			<div class="col-md-9">
				{$errors}
				<form action="modcp.php" method="post">
					<input type="hidden" name="action" value="do_banuser" />
					<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
					<input type="hidden" name="uid" value="{$uid}" />
						<div>
							
								<div class="tcat">
									{$lift_link}
									{$lang->ban_user}
								</div>
							
							{$banuser_username}
					
<div class="trow1 p-3">
<div class="mb-3">
<label class="formbit_label">{$lang->ban_reason}</label>
<textarea name="banreason" maxlength="255" class="form-control form-control-sm">{$banreason}</textarea>
</div>
                          
							
						{$bangroups}
					
<div class="mb-3">
<label class="formbit_label">{$lang->ban_liftafter}</label>
<select name="liftafter" class="form-select form-select-sm">{$liftlist}</select>
</div>
</div>
					<br />
					<div class="align_center">
						<input type="submit" class="button" name="updateban" value="{$lang->ban}" />
					</div>
				</form>
			</div>
		
	</div>
	{$footer}
<script src="{$mybb->asset_url}/themes/mystudio-default/js/user-autocomplete.js"></script>
<script>if(use_xmlhttprequest=="1"){UserAutoComplete('username');}</script>
</body>
</html>