<div>

<div class="thead">{$lang->latest_5_modactions}</div>

<div class="tcat rowbit">
  
<span class="modcpbit_modlogsmain" data-width="20%">{$lang->username}</span>
  
<span class="modcpbit_modlogsdate" data-width="20%">{$lang->date}</span>
  
<span class="modcpbit_modlogsip" data-width="20%">{$lang->ip}</span>
  
<span class="modcpbit_modlogsaction" data-width="20%">{$lang->action}</span>
  
<span class="modcpbit_modlogsdetails" data-width="20%">{$lang->information}</span>
    
  
</div>
  

{$modlogresults}
</div>
<br />