		<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->ipsearch}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<form action="modcp.php?action=ipsearch" method="post">
		<div>
			
				{$modcp_nav}
				<div class="col-md-9">
					{$ipsearch_results}
					<div>
						
							<div class="tcat">{$lang->ipaddress_search}</div>
						
<div class="trow1 p-3">
<div class="mb-3">
<label class="formbit_label">{$lang->ip_address}</label>
<input type="text" class="form-control form-control-sm" name="ipaddress" value="{$ipaddressvalue}" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->options}</label>
<div class="form-check"><input type="checkbox" class="form-check-input" name="search_users" id="search_users" value="1" {$usersearchselect} /><label class="form-check-label" for="search_users">{$lang->search_users}</label></div>
<div class="form-check"><input type="checkbox" class="form-check-input" name="search_posts" id="search_posts" value="1" {$postsearchselect} /><label class="form-check-label" for="search_posts">{$lang->search_posts}</label></div>
</div>
</div>
					<br />
					<div class="align_center">
						<input type="submit" class="button" value="{$lang->find}" />
					</div>
				</div>
			
		</div>
	</form>
{$footer}
</body>
</html>