<div class="trow1 rowbit">
<div class="modcpbit_profileusername" data-width="20%"><a href="modcp.php?action=editprofile&amp;uid={$user['uid']}">{$user['username']}</a></div>
 
  
<div class="modcpbit_profileposts align_center" data-width="20%" data-lang="{$lang->postnum}">{$user['postnum']}</div>
  
<div class="modcpbit_profileusergroup" data-width="20%" data-lang="{$lang->usergroup}">{$usergroup}</div>
  
  
<div class="modcpbit_profileregdate" data-width="20%" data-lang="{$lang->regdate}">{$regdate}</div>
  
<div class="modcpbit_profilelastvisit" data-width="20%" data-lang="{$lang->lastvisit}">{$lastdate}</div>
  
  
  
</div>