<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->warning_logs}</title>
{$headerinclude}
</head>
<body>
	{$header}

		
			{$modcp_nav}
			<div class="col-md-9">
				<div>
					
						<div class="tcat">{$lang->warning_logs}</div>
					
<div class="tcat rowbit">

<span class="modcpbit_warning_user" data-width="15%">{$lang->warned_user}</span>
  
  
<span class="modcpbit_warning_issuedby" data-width="15%">{$lang->issued_by}</span>
  
<span class="modcpbit_warning_date" data-width="20%">{$lang->date_issued}</span>
 
<span class="modcpbit_warning_expires" data-width="20%">{$lang->expires}</span>                                           
                                               
<span class="modcpbit_warning_details" data-width="15%">{$lang->details}</span>
  
<span class="modcpbit_warning_warning" data-width="15%">{$lang->warning}</span>
  
  
</div>  
					
					{$warning_list}
				</div>
				{$multipage}
				<br />
				<form action="modcp.php" method="get">
					<input type="hidden" name="action" value="warninglogs" />
					<div>
						
							<div class="tcat">{$lang->filter_warning_logs}</div>
			
<div class="trow1 p-3">
<div class="mb-3">
<label class="formbit_label">{$lang->filter_warned_user}</label>
<input type="text" name="filter[username]" id="username" value="{$mybb->input['filter']['username']}" class="form-control form-control-sm" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->filter_issued_by}</label>
<input type="text" name="filter[mod_username]" value="{$mybb->input['filter']['mod_username']}" class="form-control form-control-sm" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->filter_reason}</label>
<input type="text" name="filter[reason]" value="{$mybb->input['filter']['reason']}" class="form-control form-control-sm" />
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->sort_by}</label>
<div class="d-flex gap-2 align-items-center flex-wrap">
<select name="filter[sortby]" class="form-select form-select-sm" style="width:auto">
	<option value="username"{$sortbysel['username']}>{$lang->username}</option>
	<option value="issuedby"{$sortbysel['issuedby']}>{$lang->issued_by}</option>
	<option value="dateline"{$sortbysel['dateline']}>{$lang->issued_date}</option>
	<option value="expires"{$sortbysel['expires']}>{$lang->expiry_date}</option>
</select>
{$lang->in}
<select name="filter[order]" class="form-select form-select-sm" style="width:auto">
	<option value="asc"{$ordersel['asc']}>{$lang->asc}</option>
	<option value="desc"{$ordersel['desc']}>{$lang->desc}</option>
</select>
{$lang->order}
</div>
</div>

<div class="mb-3">
<label class="formbit_label">{$lang->per_page}</label>
<input type="text" name="filter[per_page]" value="{$per_page}" class="form-control form-control-sm" style="width:80px" />
</div>
</div>

                  
					<br />
					<div class="align_center">
						<input type="submit" class="button" value="{$lang->filter_warning_logs}" />
					</div>
				</form>
			</div>
		

	{$footer}

<script src="{$mybb->asset_url}/themes/mystudio-default/js/user-autocomplete.js"></script>
<script>if(use_xmlhttprequest=="1"){UserAutoComplete('username');}</script>
</body>
</html>