<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_post}</title>
{$headerinclude}
{$post_javascript}
</head>
<body>
{$header}
{$preview}
{$post_errors}
{$attacherror}
{$moderation_notice}
{$deletebox}
<form id="editpost" action="editpost.php?pid={$pid}&amp;processed=1" method="post" enctype="multipart/form-data" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="tborder">

<div class="thead">{$lang->edit_post}</div>

{$loginbox}

<div class="trow1 rowbit">
  
<div class="formbit_label align_right" data-width="20%">{$lang->subject}</div>
  
<div class="formbit_field" data-width="80%">{$prefixselect}<input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{$subject}" tabindex="1" /></div>

</div>
  
<div class="trow1 rowbit">
  
<div class="formbit_label align_right" data-width="20%">{$lang->your_message}</div>
  
<div class="formbit_field" data-width="80%"><textarea name="message" id="message" tabindex="3">{$message}</textarea>
{$codebuttons}</div>

</div>
  
{$editreason}
  
{$postoptions}

{$subscriptionmethod}
{$pollbox}
</div>
{$attachbox}
<br />
<div class="align_center" data-align="center"><input type="submit" class="button" name="submitbutton" value="{$lang->update_post}" tabindex="3" accesskey="s" />  <input type="submit" class="button" name="previewpost" value="{$lang->preview_post}" tabindex="4" /></div>
<input type="hidden" name="action" value="do_editpost" />
<input type="hidden" name="attachmentaid" value="" />
<input type="hidden" name="attachmentact" value="" />
</form>
{$footer}
</body>
</html>