<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->private_messaging}</title>
{$headerinclude}
</head>
<body>
{$header}

{$usercpnav}
	

<div class="col-md-9">
<div class="row">
{$pmspacebar}
	
{$limitwarning}
</div>	
	
<form action="private.php" method="post" name="pmForm">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />

<div class="tborder">

<div class="thead">{$foldername}</div>


<div class="tcat d-none d-md-flex align-items-center gap-3 px-3 py-2 border-bottom">
	<div style="width:28px;flex-shrink:0"></div>
	<div class="flex-grow-1 min-w-0">
		<a href="private.php?fid={$fid}&amp;sortby=subject&amp;order=asc">{$lang->message_title}</a> {$orderarrow['subject']}
		/ <a href="private.php?fid={$fid}&amp;sortby=username&amp;order=asc">{$sender}</a> {$orderarrow['username']}
	</div>
	<div class="text-end" style="width:160px;flex-shrink:0">
		<a href="private.php?fid={$fid}&amp;sortby=dateline&amp;order=desc">{$lang->date_sent}</a> {$orderarrow['dateline']}
	</div>
	<div class="d-flex align-items-center justify-content-center ps-2" style="width:36px;flex-shrink:0">
		<input name="allbox" title="{$lang->check_all}" type="checkbox" class="form-check-input checkall" value="{$lang->check_all}" />
	</div>
</div>

{$messagelist}

<div class="tfoot align_right">
<input type="submit" class="button" name="moveto" value="{$lang->move_to}" /> {$folderoplist} {$lang->or}
<input type="submit" class="button" name="delete" value="{$lang->delete}" /> {$lang->selected_messages}
</div>

</div>
<br />
<div class="float_right">
{$lang->jump_folder} {$folderjump}
<input type="submit" class="button" name="hop" value="{$lang->go}" />
</div>
<input type="hidden" name="action" value="do_stuff" />
</form>

<div class="float_left">{$multipage}</div>

{$emptyexportlink}
</div>
</div>

{$footer}
</body>
</html>