<div class="mb-3">
	<label class="form-label small text-muted" for="referrer"><i class="bi bi-person-hearts me-1"></i>{$lang->referrer}</label>
	<br />
	<input type="text" name="referrername" id="referrer" value="{$referrername}" placeholder="{$lang->referrer}" style="width:100%" />
	
<link rel="stylesheet" href="{$mybb->asset_url}/jscripts/select2/select2.css?ver=1806">
	<script src="{$mybb->asset_url}/jscripts/select2/select2.min.js"></script>
<script>
<!--
if(use_xmlhttprequest == "1")
{
	MyBB.select2();
	$("#referrer").select2({
		placeholder: "{$lang->search_user}",
		minimumInputLength: 2,
		multiple: false,
		allowClear: true,
		width: '100%',
		ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
			url: "xmlhttp.php?action=get_users",
			dataType: 'json',
			data: function (term, page) {
				return {
					query: term, // search term
				};
			},
			results: function (data, page) { // parse the results into the format expected by Select2.
				// since we are using custom formatting functions we do not need to alter remote JSON data
				return {results: data};
			}
		},
		initSelection: function(element, callback) {
			var value = $(element).val();
			if (value !== "") {
				callback({
					id: value,
					text: value
				});
			}
		},
	});
}
// -->
</script>
</div>