<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->your_name}<br /><span class="smalltext">{$lang->name_note}</span></div>
<div class="formbit_field" data-width="80%"><input type="text" class="textbox" size="50" name="fromname" value="{$fromname}" />
</div>
</div>




<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="20%">{$lang->your_email}<br /><span class="smalltext">{$lang->email_note}</span></div>
<div class="formbit_field" data-width="80%"><input type="text" class="textbox" size="50" name="fromemail" value="{$fromemail}" /></div>
</div>