<div class="modal fade" id="statReferralsModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <h6 class="modal-title"><i class="bi bi-people me-1"></i> {$ms_ref_label}</h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body text-center">
    <div class="stat-modal-value">{$ms_ref_count}</div>
  </div>
</div>
</div>
</div>