<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->subscriptions}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_subscriptions" />


{$usercpnav}
<div class="col-md-9">
{$multipage}
<div>
	
		<div class="thead">{$lang->subscriptions}  - {$threadcount}</div>
	
		<div class="tcat rowbit d-md-block d-none d-md-block">

<span data-width="60%" class="threadbit_main">{$lang->thread}</span>


<span class="threadbit_stats threadbit_replies lign_center" data-width="7.5%">{$lang->replies}</span>

<span class="threadbit_stats threadbit_views lign_center" data-width="7.5%">{$lang->views}</span>

<span class="threadbit_lastpost" data-width="25%">
  
  <span data-moderation="1">{$lang->lastpost}</span></span>
<span class="d-none d-md-inline-flex align-items-center threadbit_modbit ps-2"><input name="allbox" title="{$lang->fmz_select_all}" type="checkbox" class="form-check-input checkall" value="1" /></span>

</div>

  
  {$threads}
  {$remove_options}
  
  </div>
  
<br />

  


<div class="float_left">
	<div class="float_left">
		<ul class="thread_legend smalltext">
			<li><span class="thread_status newfolder" title="{$lang->new_thread}"><span></span></span> {$lang->new_thread}</li>
			<li><span class="thread_status newhotfolder" title="{$lang->new_hot_thread}"><span></span></span> {$lang->new_hot_thread}</li>
			<li><span class="thread_status hotfolder" title="{$lang->hot_thread}"><span></span></span> {$lang->hot_thread}</li>
		</ul>
	</div>

	<div class="float_left">
		<ul class="thread_legend smalltext">
			<li><span class="thread_status folder" title="{$lang->no_new_thread}"><span></span></span> {$lang->no_new_thread}</li>
			<li><span class="thread_status dot_folder" title="{$lang->posts_by_you}"><span></span></span> {$lang->posts_by_you}</li>
			<li><span class="thread_status closefolder" title="{$lang->closed_thread}"></span> {$lang->closed_thread}</li>
		</ul>
	</div>
	<br style="clear: both" />
</div>
  
  
  
{$multipage}
  
  


</div>
</div>
</form>
{$footer}
</body>
</html>