<div class="trow1 rowbit d-md-block d-none d-md-block">

<div class="forumbit_main" data-width="55%">


<div class="forum_status forum_{$lightbulb['folder']} ajax_mark_read col-md-1 d-none d-md-block align_center ficons_{$forum['fid']}" title="{$lightbulb['altonoff']}" id="mark_read_{$forum['fid']}" style="font-size: 24px;"><i class="bi bi-chat-dots-fill"></i></div>


<div class="forumbit_title">
<strong><a href="{$forum_url}">{$forum['name']}</a></strong><br /><span class="smalltext"><a href="usercp.php?action=removesubscription&amp;type=forum&amp;fid={$forum['fid']}&amp;my_post_key={$mybb->post_code}">{$lang->unsubscribe}</a> | <a href="newthread.php?fid={$forum['fid']}">{$lang->new_thread}</a></span>
</div>
</div>
  
<div class="forumbit_stats forumbit_posts align_center smalltext" data-width="10%" data-lang="{$lang->forumbit_posts}">{$posts}</div>
	
<div class="forumbit_stats forumbit_threads align_center smalltext" data-width="10%" data-lang="{$lang->forumbit_threads}">

{$threads}  </div>

<div class="forumbit_lastpost" data-width="25%">{$lastpost}</div>

</div>

<div class="trow1 rowbit d-lg-none d-md-none d-lg-block">

<div class="forumbit_main" data-width="70%">

<div class="forum_status forum_{$lightbulb['folder']} ajax_mark_read col-md-1 col-1 align_center ficons_{$forum['fid']}" title="{$lightbulb['altonoff']}" id="mark_read_{$forum['fid']}" style="font-size: 24px;"><i class="bi bi-chat-dots-fill"></i></div>

<div class="forumbit_title">
<strong><a href="{$forum_url}">{$forum['name']}</a></strong><br /><span class="smalltext"><a href="usercp.php?action=removesubscription&amp;type=forum&amp;fid={$forum['fid']}&amp;my_post_key={$mybb->post_code}">{$lang->unsubscribe}</a> | <a href="newthread.php?fid={$forum['fid']}">{$lang->new_thread}</a></span>
</div>
</div>

<div class="forumbit_lastpost" data-width="30%">{$lastpost}</div>

</div>