<div class="trow1 rowbit">
  
<div class="usergroupsbit_usergroup threadbit_main" data-width="25%">
{$usergroup['title']}
{$description}
</div>
  

 
<div class="usergroupsbit_leaders threadbit_stats align_center" data-width="25%" data-lang="{$lang->fmz_usergroups_leaders_label}">{$usergroupleaders}</div>
  
<div class="usergroupsbit_conditions align_center threadbit_stats" data-width="25%" data-lang="{$lang->join_conditions}">{$conditions}</div>
   
<div class="usergroupsbit_joinlink threadbit_lastpost" data-width="25%">{$joinlink}</div>
     

  
</div>