<div class="tcat">{$lang->ucp_nav_profile}
  <div class="expcolimage" data-controls="usercpprofile"></div>
</div>

<div class="trow1 cp_menu" style="{$collapsed['usercpprofile_e']}" id="usercpprofile_e">
<ul class="list_style">
<li><a class="usercp_nav_item usercp_nav_profile" href="usercp.php?action=profile">{$lang->ucp_nav_edit_profile}</a></li>
  
{$changenameop}
  
<li><a class="usercp_nav_item usercp_nav_password" href="usercp.php?action=password">{$lang->ucp_nav_change_pass}</a></li>
  
<li><a class="usercp_nav_item usercp_nav_email" href="usercp.php?action=email">{$lang->ucp_nav_change_email}</a></li>
  
<li><a class="usercp_nav_item usercp_nav_avatar" href="usercp.php?action=avatar">{$lang->ucp_nav_change_avatar}</a></li>

{$changesigop}
	
<li><a class="usercp_nav_item usercp_nav_options" href="usercp.php?action=options">{$lang->ucp_nav_edit_options}</a></li>
  </ul>
</div>