<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->attachments_manager}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post" name="attachmentsmanager">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />


{$usercpnav}
<div class="col-md-9">
  

  
<div>

<div class="thead">{$lang->attachments_manager} {$usagenote}</div>

<div class="tcat rowbit">
  
<span class="attachmentbit_main threadbit_main" data-width="50%">
{$lang->attachments_attachment}
</span>
 
<span class="threadbit_stats attachmentbit_size align_center" data-width="12.5%">
{$lang->fmz_attachments_size}
</span>


<span class="threadbit_stats attachmentbit_downloads align_center" data-width="12.5%">
{$lang->fmz_attachments_downloads}
</span>

<span class="threadbit_lastpost" data-width="25%">
  
<span class="threadbit_modbit">
<input name="allbox" title="{$lang->fmz_select_all}" type="checkbox" class="checkbox checkall" value="1" />
  </span>
  

  
  <span data-moderation="1">
    {$lang->date_uploaded}
  </span>
  
  
  </span>
  
</div>  
  


{$attachments}
</div><br />
{$multipage}
<br />
{$delete_button}
<br />
<div>

<div class="thead">{$lang->attachments_stats}</div>


<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->attachstats_attachs}</div>
<div class="formbit_field" data-width="75%">{$totalattachments}</div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->attachstats_spaceused}</div>
<div class="formbit_field" data-width="75%">{$friendlyusage} {$percent}</div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->attachstats_quota}</div>
<div class="formbit_field" data-width="75%">{$attachquota}</div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->attachstats_totaldl}</div>
<div class="formbit_field" data-width="75%">{$totaldownloads}</div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->attachstats_bandwidth}</div>
<div class="formbit_field" data-width="75%">{$bandwidth}</div>
</div>

  </div>
  
</div>
</div>
</form>
  
{$footer}
</body>
</html>