<div>

<div class="thead">{$lang->usergroups_joinable}</div>


<div class="tcat rowbit">
  
<span class="usergroupsbit_usergroup threadbit_main" data-width="25%">
{$lang->usergroups_usergroup}
</span>
  

<span class="usergroupsbit_leaders threadbit_stats  align_center" data-width="25%">{$lang->fmz_usergroups_leaders}</span>
  
<span class="usergroupsbit_conditions threadbit_stats align_center" data-width="25%">{$lang->join_conditions}</span>
   
<span class="usergroupsbit_joinlink theadbit_lastpost" data-width="25%">{$lang->join_group}</span>
     

  
</div>

{$joinablegrouplist}
</div>
<br />