<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->password_required} </title>
{$headerinclude}
</head>
<body>
{$header}
<form action="{$_SERVER['REQUEST_URI']}" method="post">
<div class="tborder">

<div class="thead">{$lang->password_required}</div>


<div class="trow2">{$lang->forum_password_note}</div>


<div class="tcat">{$lang->enter_password_below}</div>

{$pwnote}

<div class="trow1"><input type="password" class="textbox" name="pwverify" size="50" value="" /></div>

</div>
<br />
<div><input type="submit" class="button" name="submit" value="{$lang->verify_forum_password}" /></div>
</form>
{$footer}
</body>
</html>