<div class="text-center" style="min-width:80px">
<a href="{$sorturl}&amp;sortby=rating&amp;order={$oppsortnext}">{$lang->rating}</a>
		<script src="{$mybb->asset_url}/jscripts/rating.js?ver=1821"></script>
		<script>
		<!--
			lang.stars = new Array();
			lang.stars[1] = "{$lang->one_star}";
			lang.stars[2] = "{$lang->two_stars}";
			lang.stars[3] = "{$lang->three_stars}";
			lang.stars[4] = "{$lang->four_stars}";
			lang.stars[5] = "{$lang->five_stars}";
			lang.ratings_update_error = "{$lang->ratings_update_error}";
		// -->
</script>
</div>