<div class="d-none">{$welcomeblock}</div>
<div id="ms-modal-outlet"></div>
<script>
(function(){
	var outlet=document.getElementById('ms-modal-outlet');
	var modals=document.querySelectorAll('.d-none .modal');
	for(var i=0;i<modals.length;i++) outlet.appendChild(modals[i]);
})();
</script>

<header class="ms-header">
	<div class="container">
		<button class="btn btn-sm btn-outline-secondary d-lg-none ms-sidebar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#msSidebarOffcanvas" aria-controls="msSidebarOffcanvas"><i class="bi bi-list"></i></button>
		<a href="{$mybb->settings['bburl']}/index.php" class="ms-header-logo">{$ms_logo_html}</a>
	</div>
</header>

<main class="container">
<navigation>
{$pm_notice}
{$bannedwarning}
{$bbclosedwarning}
{$modnotice}
{$pending_joinrequests}
{$awaitingusers}