<br />
<div class="tborder">

<div class="thead">{$lang->similar_threads}</div>

<div class="tcat rowbit">

<span data-width="60%" class="threadbit_main"> {$lang->thread} / {$lang->author}</span>


<span class="threadbit_stats threadbit_replies align_center" data-width="7.5%">{$lang->replies}</span>
			
<span class="threadbit_stats threadbit_views align_center" data-width="7.5%">		
{$lang->views}</span>

<span class="threadbit_lastpost" data-width="25%">{$lang->lastpost}</span>

</div>
	
    {$similarthreadbits}
</div>