<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->get_post_ip}</title>
{$headerinclude}
</head>
<body>
{$header}
<div class="tborder">

<div class="tcat">{$lang->get_post_ip}</div>

<div class="trow1 p-3">
<div class="mb-3">
<label class="formbit_label">{$lang->username}</label>
<div>{$username}</div>
</div>
<div class="mb-3">
<label class="formbit_label">{$lang->ip_address}</label>
<div>{$post['ipaddress']}</div>
</div>
<div class="mb-3">
<label class="formbit_label">{$lang->hostname}</label>
<div>{$hostname}<br /><span class="smalltext">{$lang->if_resolvable}</span></div>
</div>
</div>
  

{$modoptions}
</div>
{$footer}
</body>
</html>