<div class="trow1 rowbit">
  
  
<div class="modcpbit_report_info" data-width="25%">{$report_data['content']}</div>
  
  
<div class="modcpbit_report_count" data-width="15%" data-lang="{$lang->report_count}">{$report_data['reports']}</div>
  

<div class="modcpbit_report_lastreported" data-width="15%" data-lang="{$lang->reporter}"><a href="{$report['reporterlink']}" target="_blank">{$report['username']}</a></div>
  
<div class="modcpbit_report_time" data-width="20%" data-lang="{$lang->report_time}">{$report_data['time']}</div>
 
<div class="modcpbit_report_reason infobit" data-width="25%" data-lang="{$lang->report_type}">{$report_data['comment']}</div>
  
  
</div>