<div class="trow1 rowbit">
  
<div class="modcpbit_bansusername" data-width="25%">{$profile_link}{$edit_link}</div>
  
  
<div class="modcpbit_bansbannedby" data-width="25%" data-lang="{$lang->ban_bannedby}">{$admin_profile}</div>
  
<div class="modcpbit_banslenght" data-width="25%" data-lang="{$lang->ban_length}">{$banlength}<br /><span class="smalltext">{$timeremaining}</span></div>
  
<div class="modcpbit_bansreason infobit" data-width="25%" data-lang="{$lang->reason}">{$banned['reason']}</div>
  

</div>