<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->find_users}</title>
{$headerinclude}
<link rel="stylesheet" href="{$mybb->asset_url}/jscripts/select2/select2.css?ver=1806">
<script src="{$mybb->asset_url}/jscripts/select2/select2.min.js"></script>
</head>
<body>
	{$header}

			
				{$modcp_nav}
				<div class="col-md-9">
					<div>
						
							<div class="thead">{$lang->users}</div>
					
                      
<div class="tcat rowbit">
<span class="modcpbit_profileusername threadbit_main" data-width="20%">{$lang->username}</span>
 

  
<span class="modcpbit_profileposts align_center threadbit_stats" data-width="20%">{$lang->postnum}</span>
  
<span class="modcpbit_profileusergroup threadbit_stats" data-width="20%">{$lang->usergroup}</span>
  
<span class="modcpbit_profileregdate threadbit_stats" data-width="20%">{$lang->regdate}</span>
  
<span class="modcpbit_profilelastvisit threadbit_stats" data-width="20%">{$lang->lastvisit}</span>
  
</span>
  
  
</div>  
                      

						
						{$users}
					</div>
					{$multipage}
					<br />
                  
	<form action="modcp.php?action=finduser" method="post">
                  
                  
					<div>
						
							<div class="thead">{$lang->find_users}</div>
						
						
	<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->username_contains}</div>  
<div class="formbit_field" data-width="75%"><input type="text" name="username" id="username" value="{$mybb->input['username']}" class="textbox" /></div>
</div>

<div class="trow1 rowbit">
<div class="formbit_label align_right" data-width="25%">{$lang->sort_by}</div>  
<div class="formbit_field" data-width="75%"><select name="sortby">
									<option value="username" {$sortbysel['username']}>{$lang->username}</option>
									<option value="regdate" {$sortbysel['regdate']}>{$lang->regdate}</option>
									<option value="lastvisit" {$sortbysel['lastvisit']}>{$lang->lastvisit}</option>
									<option value="postnum" {$sortbysel['postnum']}>{$lang->postnum}</option>
								</select>
								{$lang->in}
								<select name="order">
									<option value="asc" {$ordersel['asc']}>{$lang->asc}</option>
									<option value="desc" {$ordersel['desc']}>{$lang->desc}</option>
								</select>
								{$lang->order}</div>
</div>     
                      
					</div>
					<br />
					<div class="align_center">
						<input type="submit" class="button" value="{$lang->find_users}" />
					</div>
      	</form>      
      
				</div>
			
	

{$footer}

<script>
<!--
if(use_xmlhttprequest == "1")
{
	MyBB.select2();
	$("#username").select2({
		placeholder: "{$lang->find_users}",
		minimumInputLength: 2,
		multiple: false,
		allowClear: true,
		ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
			url: "xmlhttp.php?action=get_users",
			dataType: 'json',
			data: function (term, page) {
				return {
					query: term, // search term
				};
			},
			results: function (data, page) { // parse the results into the format expected by Select2.
				// since we are using custom formatting functions we do not need to alter remote JSON data
				return {results: data};
			}
		},
		initSelection: function(element, callback) {
			var value = $(element).val();
			if (value !== "") {
				callback({
					id: value,
					text: value
				});
			}
		}
	});
}
// -->
</script>
</body>
</html>