<div class="trow1 rowbit">

<div class="modcpbit_warning_user" data-width="15%">{$username_link} <a href="#" data-link-role="toggle_content"></a></div>
 
  
<div class="modcpbit_warning_issuedby" data-width="15%" data-lang="{$lang->issued_by}">{$mod_username_link}</div>
  
<div class="modcpbit_warning_date" data-width="20%" data-lang="{$lang->date_issued}">{$issued_date}</div>
 
<div class="modcpbit_warning_expires" data-width="20%" data-lang="{$lang->expires}">{$expire_date}{$revoked_text}</div>                                           
                                               
<div class="modcpbit_warning_details" data-width="15%" data-lang="{$lang->details}"><a href="warnings.php?action=view&amp;wid={$row['wid']}">{$lang->view}</a></div>
  
<div class="modcpbit_warning_warning infobit" data-width="15%" data-lang="{$lang->warning}">{$title} - {$points}</div>
  
  
</div>