<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->report_center}</title>
{$headerinclude}
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/inline_reports.js?ver=1821"></script>
</head>
<body>
{$header}
<form action="modcp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="page" value="{$page}" />


{$modcp_nav}
	<div class="col-md-9">
		<div>
		
			<div class="thead">{$lang->report_center}</div>
		
         {$selectall} 
<div class="tcat rowbit">
  
<span class="threadbit_main modcpbit_report_info" data-width="35%">{$lang->report_info}</span>
  
  
<span class="modcpbit_report_count threadbit_stats" data-width="15%">{$lang->report_count}</span>
 
<span class="modcpbit_report_lastreported threadbit_stats" data-width="25%">{$lang->report_lastpost}</span>
 
<span class="modcpbit_report_reason threadbit_lastpost" data-width="25%">
<span class="threadbit_modbit">
<input type="checkbox" name="allbox" onclick="inlineReports.checkAll(this);" />
 </span>
<span data-moderation="1">
{$lang->report_type}</span>
</span>
  
  
  
</div>     
		
		
		{$reports}
		
			<div class="tfoot"><span class="smalltext"><a href="modcp.php?action=allreports">{$lang->view_all_reports}</a></span></div>
		
		</div>
		{$reportspages}
		<br />
		<div class="align_center"><input type="hidden" name="action" value="do_reports" /><input type="submit" class="button" name="reportsubmit" value="{$lang->mark_read}" /></div>
	</div>


</form>


{$footer}
<script type="text/javascript">
<!--
	var mark_read_text = "{$lang->mark_read}";
	var all_text = "{$report_count}";
// -->
</script>
</body>
</html>