<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->manage_announcement}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<div>
		
			{$modcp_nav}
			<div class="col-md-9">
				{$announcements_global}
				<div>
					
						<div class="thead">{$lang->forum_announcements}</div>
					
					
						<div class="tcat">{$lang->announcement}
                          
                          <span class="float_right">{$lang->controls}</span></div>
					
					{$announcements_forum}
				</div>
			</div>
		
	</div>
	{$footer}
</body>
</html>