<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->members_of}</title>
{$headerinclude}
<link rel="stylesheet" href="{$mybb->asset_url}/jscripts/select2/select2.css?ver=1806">
<script src="{$mybb->asset_url}/jscripts/select2/select2.min.js"></script>
</head>
<body>
{$header}


<p>{$usergrouptype}</p>
  
{$joinrequests}
  
{$group_leaders}
<form method="post" action="managegroup.php">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_manageusers" />
<input type="hidden" name="gid" value="{$gid}" />
<div class="tborder">

<div class="thead">{$lang->members_of}</div>

  
<div class="tcat rowbit">

<span class="managegroupbit_username threadbit_main" data-width="25%">{$lang->user_name}</span>

<span class="managegroupbit_posts threadbit_stats" data-width="25%">{$lang->post_count}</span>

<span class="managegroupbit_regdate threadbit_stats" data-width="25%">{$lang->reg_date}</span>

<span class="managegroupbit_contact threadbit_stats" data-width="25%">{$lang->contact}</span>


</div>

{$users}
</div>
<br />
<div>{$remove_users}</div>
</form>
{$add_user}
{$invite_user}
{$footer}
</body>
</html>