<div class="trow1 rowbit">
	<div data-width="40%">
		{$lang->new_attachment} <input type="file" name="attachments[]" size="30" class="fileupload" multiple="multiple" />
	</div>
	<div data-width="60%" class="align_right">{$attach_update_options} {$attach_add_options}</div>
</div>
<div style="display: none;">
	<div class="trow1">
		<div id="upload_bar" style="background: #0066A2; height: 5px; width: 0%;"></div>
		<div id="dropzone" style="padding: 50px 0; margin: 5px 10px 10px; cursor: pointer; border: 2px dashed #CCC; text-align: center;">
			<div style="pointer-events: none;"></div>
		</div>
	</div>
</div>